<div class="about-section">
    <h1 style="font-size: 40px; scroll-padding: 10px">CricketPlayerApp</h1>
    <p>CricketPlayerApp is an experiment which provide the data of cricket players.<br>
        In which each user can select the players according to their choice and make as favourite.<br>
        for each user favourite list is different according to their selection.</p>

</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Akshata G Nayak</h2>
                <p class="title">Associate Software Developer</p>
                <p>Developed the backend part of this App</p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Shrustima Sheri</h2>
                <p class="title">Associate Software Developer</p>
                <p>Developed the backend part of this App</p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Priyanka Kumari</h2>
                <p class="title">Associate Software Developer</p>
                <p>Developed the frontend part of this App</p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Kumar Vikramaditya</h2>
                <p class="title">Associate Software Developer</p>
                <p>Developed the Frontend part of this App</p>
            </div>
        </div>
    </div>
</div>