<!-- Favorite  -->
<div class="dashboard-back-image">
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3" (click)="myFavList()">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa fa-heart fa-spin common-icon"></i>
                    <h1 class="card-title">Favorite Player</h1>
                    <h3 class="card-text">Find your Favorite player.</h3>
                </div>
            </div>
        </div>

        <!-- Player Statistics -->
        <div class="col-lg-4 col-sm-12 col-xs-12 mb-3" (click)="playerStat()">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa fa-bar-chart common-icon" aria-hidden="true"></i>
                    <h1 class="card-title">Statistics</h1>
                    <h3 class="card-text">Find Player Statistics</h3>
                </div>
            </div>
        </div>

        <!-- Recommendations tracks -->
        <div class="col-lg-4 col-sm-12 col-xs-12" (click)="recommendation()">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa fa-thumbs-up common-icon" aria-hidden="true"></i>
                    <h1 class="card-title">Recommendations</h1>
                    <h3 class="card-text">Find Recommendation.</h3>
                </div>
            </div>
        </div>
    </div>
</div>