<div class="row">
    <div class="col-lg-7 col-md-6 col-xs-12 col-sm-12">
        <img src="https://cdn.pixabay.com/photo/2020/01/27/04/51/sport-4796426_960_720.jpg" class="home-image"
            alt="image not found">
    </div>
    <div class="col-lg-5 col-md-6 col-xs-12 col-sm-12 home-color">
        <div class="circle">CPlayer</div>
        <div class="home-text-top"></div>
        <marquee direction="up" class="home-marquee">
            Cricket is a bat-and-ball game played between two teams
            of eleven players on a field at the centre of which is a 22-yard (20-metre) pitch with
            a wicket at each end, each comprising two bails balanced on three stumps.
            The batting side scores runs by striking the ball bowled at the wicket with
            the bat (and running between the wickets), while the bowling and fielding side
            tries to prevent this (by preventing the ball from leaving the field, and getting the
            ball to either wicket) and dismiss each batter (so they are "out").
            Means of dismissal include being bowled, when the ball hits the stumps.</marquee>
        <div class="home-text-bottom"></div>
    </div>
</div>

<!-- Video -->
<div class="row">
    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 common-video">
        <iframe class="video-box" src="https://www.youtube.com/embed/ZGUfdMukaZc">
        </iframe>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 common-video">
        <iframe class="video-box" src="https://www.youtube.com/embed/ZGUfdMukaZc">
        </iframe>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-12 common-video">
        <iframe class="video-box" src="https://www.youtube.com/embed/ZGUfdMukaZc">
        </iframe>
    </div>
</div>